.bg-btn{background-color: #1abc9c; color: #fff;}
.bg-btn:hover{background-color: #fff;border: 1px solid #1abc9c; color: #1abc9c;}
.nav-bg{background-color: #34495e}
#navbar li{margin:30px 10px 0 10px;}
h4.logo-text{color: #1abc9c; font-style: italic; font-weight: bold; float: left; display: block;}
img.logo-img{margin: 5px auto 0 auto !important; text-align: center; display: block;}